{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <h2>{{ titre }}</h2>
        {{ form(form,  {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="{{ path(back_path) }}" class="btn btn-info">Retour à la liste</a>
    </div>
    <br>
{% endblock %}